@import 'https://fonts.googleapis.com/css?family=Oswald';

.container{
    width:100%;
}

.container ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container ul li{
    border-bottom: 2px solid rgba(133, 133, 173, .4);
    margin: 20px auto 0;
    padding-bottom: 20px;
}

.container ul li a{
    color: rgba(133, 133, 173, 1);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
